@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 63px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
    
   
 
.container{
    min-height: 72vh;
    background-color:greenyellow;
    color: white;
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 70%;
   border-radius: 12px;
   padding: 34px;
   background-image: url('');
   justify-content: center;
   text-align: center;
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: rgb(3, 5, 1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icons{
    margin-top: 14px;
    
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 74px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
   
}
.songItem:hover{
      background: rgb(1, 179, 75);
      
}
    
.songItem{
    height: 300px;
    display: grid;
    background-color: rgb(242, 243, 238);
    box-shadow: 0px 0px 5px 2px rgb(186, 229, 186);
    color: black;
    margin: 10px;
    width: 270px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    padding: 20px 0px;
    
}

.songItem img{
    margin: 0 23px;
    justify-content:center;
    

    }
    

    .songItem img:hover{
        transform: scale(1.2);
      z-index: 1.5;
      transition: 0.5s;
    }

    .songItemPlay:hover{
        color: rgb(3, 0, 5);
        transform: translate(-50%,-50%);
        transform: scale(4.5);
        z-index: 4;
        transition: 0.5s;
    }


.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
    
}
.resize{
    height: 225px;
    width: 225px;
}
.foot{
    font-size: medium;
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;

}

        

@media only screen and (max-width: 1100px) {
    body {
      background-color: rgb(17, 1, 1);
    }
  }

 @media only screen and (min-width: 200px) and (max-width:767px){
    .songItem{
        width: 100%;
        flex-direction: column;
    }
 } 